/* styles.css */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .wrapper {
    height: 100vh;
    display: flex;
    background-image: url(src/background.jpg);
    background-size: cover;
    overflow: hidden;
  }
  
  .memory-game {
    max-width: 72rem;
    width: 100%;
    max-height: 68rem;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 100rem;
    z-index: 100;
  }

  .memory-card {
    width: calc(25% - 1rem);
    height: calc(33.333% - 1rem);
    margin: .5rem;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    cursor: pointer;
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }

  .memory-card.flip {
    transform: rotateY(180deg);
  }

  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: .1rem .1rem .1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    border: .1rem solid ;
  }
  
  .front-face {
    transform: rotateY(180deg);
    opacity: .7;
  }

  .back-face {
    opacity: .6;
  }

  footer {
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    top: 90vh;
    padding-left: 1rem;
    padding-right: 1rem;
    opacity: .3;
    z-index: 0;
  }

  .logo {
    display: flex;
    width: 4rem;
    height: 4rem;
    
  }

  .logo:hover {
    scale: 1.2;
    transition: all 1s;
  }

  .years {
    font-size: 2rem;
    color: white;
    margin-right: .5rem;
  }

  .github {
    display: flex;
    width: 4rem;
    height: 4rem;
  }

  .github:hover {
    scale: 1.2;
    transition: all 1s;
  }

  .score {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 13%; */
    /* margin-left: 25%; */
    background-color: #fff;
    transition: all 1s;
    background-image: url('src/back-face.jpg');
    background-size: cover;
    color: #fff;
    left: 1000%;
    z-index: 101;
  }

  .score_active {
    top: 0;
    left: 0;
  }

  .over {
    font-size: 4rem;
  }

  .turns {
    font-size: 2rem;
  }

  .newGame {
    max-width: 10rem;
    min-height: 3rem;
    width: 100%;
  }

  .recordTable {
    font-size: 2rem;
  }
  
  .recordTable div:last-child {
    font-weight: bold;
    color: aqua;
  }

  @media only screen and (max-width: 430px) {
    
    body {
      /* max-width: 43rem; */
    }
    
    .memory-game {
      max-width: 35rem;
      max-height: 60rem;
    }

    .memory-card {
      width: calc(33.333% - 1rem);
      height: calc(25% - 1rem);
    }
  }